<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Corpus</display-name>
  <servlet>
    <servlet-name>SigninUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.SigninUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SigninServlet</servlet-name>
    <servlet-class>win.mycorpus.web.controller.SigninServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.LoginUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>win.mycorpus.web.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserSearchUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.UserSearchUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInfoUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.UserInfoUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserAddUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.UserAddUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddWordServlet</servlet-name>
    <servlet-class>win.mycorpus.web.controller.AddWordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchWordServlet</servlet-name>
    <servlet-class>win.mycorpus.web.controller.SearchWordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCategoryUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.AddCategoryUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HighFrequency</servlet-name>
    <servlet-class>win.mycorpus.web.UI.HighFrequency</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageAddUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.ManageAddUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageInfoUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.ManageInfoUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageSearchUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.ManageSearchUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCategoryServlet</servlet-name>
    <servlet-class>win.mycorpus.web.controller.AddCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageHighFrequency</servlet-name>
    <servlet-class>win.mycorpus.web.controller.ManageHighFrequency</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuperManageUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.SuperManageUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SuperUserUIServlet</servlet-name>
    <servlet-class>win.mycorpus.web.UI.SuperUserUIServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterHighFrequency</servlet-name>
    <servlet-class>win.mycorpus.web.controller.AlterHighFrequency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SigninUIServlet</servlet-name>
    <url-pattern>/servlet/SigninUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SigninServlet</servlet-name>
    <url-pattern>/servlet/SigninServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginUIServlet</servlet-name>
    <url-pattern>/servlet/LoginUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserSearchUIServlet</servlet-name>
    <url-pattern>/servlet/UserSearchUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInfoUIServlet</servlet-name>
    <url-pattern>/servlet/UserInfoUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserAddUIServlet</servlet-name>
    <url-pattern>/servlet/UserAddUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddWordServlet</servlet-name>
    <url-pattern>/servlet/AddWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchWordServlet</servlet-name>
    <url-pattern>/servlet/SearchWordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCategoryUIServlet</servlet-name>
    <url-pattern>/servlet/AddCategoryUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HighFrequency</servlet-name>
    <url-pattern>/servlet/HighFrequency</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageAddUIServlet</servlet-name>
    <url-pattern>/servlet/ManageAddUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageInfoUIServlet</servlet-name>
    <url-pattern>/servlet/ManageInfoUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageSearchUIServlet</servlet-name>
    <url-pattern>/servlet/ManageSearchUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCategoryServlet</servlet-name>
    <url-pattern>/servlet/AddCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageHighFrequency</servlet-name>
    <url-pattern>/servlet/ManageHighFrequency</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuperManageUIServlet</servlet-name>
    <url-pattern>/servlet/SuperManageUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SuperUserUIServlet</servlet-name>
    <url-pattern>/servlet/SuperUserUIServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterHighFrequency</servlet-name>
    <url-pattern>/servlet/AlterHighFrequency</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.htsml</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>